<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scheme</key>
	<string>https</string>
	<key>host</key>
	<string>api.polygon.io</string>
	<key>apiKey</key>
	<string>ZPnGgFJZAWreVXGsvUJUZPN9p3Tk9xtq</string>
</dict>
</plist>
